.products {
    margin-bottom: 135px;
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 65px;
   }
   &__card {
      max-width: 335px;
      max-height: 440px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;

      h3 {
         font-size: 24px;
         font-weight: 600;
         color: #1e1d1d;
      }

      span {
         font-size: 20px;
         font-weight: 500;
         color: #8b8e99;
      }

      p {
         color: #000;
         font-size: 24px;
         font-weight: 600;
      }
   }
   &__image {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $bg-secondary;
      padding: 27px 41px;
      img {
         width: 100%;
         border-radius: 25px;
      }
   }
   &__button {
      display: grid;
      place-items: center;
      button {
         width: 196px;
         height: 46px;
         background-color: #3858d6;
         border-radius: 15px;
         color: #fff;
         font-size: 18px;
         font-weight: 600;
      }
   }
}
